@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
